// Здесь переопределяются SASS-переменные vuetify: https://vuetifyjs.com/ru/customization/sass-variables

//$font-size-root: 14px;

@import '~vuetify/src/styles/styles.sass';

$body-font-family: 'Averta', sans-serif;
$heading-font-family: $body-font-family;
@each $heading, $style in $headings {
  $headings: map-merge($headings, ($heading: map-merge($style, ('font-family': $heading-font-family))));
}


//$material-light: map-merge($material-light, (
//        background: map-get($blue, 'lighten-5')
//));
