@font-face {
    font-family: Amatic;
    src: local('Amatic_SC'), local('Amatic SC'), local('Amatic'), local('Amatic Regular'),
    url(~assets/fonts/AmaticSC-Regular.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


  /****************/
 /***  Averta  ***/
/****************/
@font-face {
    font-family: 'Averta';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url(averta/Averta-Thin.otf) format('opentype');
}


@font-face {
    font-family: 'Averta';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url(averta/Averta-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url(averta/Averta-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url(averta/Averta-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url(averta/Averta-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Averta';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url(averta/Averta-Black.otf) format('opentype');
}
